<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Template</title>
	<script type="text/javascript" src="../syntaxhighlighter_2.1/scripts/shCore.js"></script>
	<script type="text/javascript" src="../syntaxhighlighter_2.1/scripts/shBrushCss.js"></script>
	<script type="text/javascript" src="../syntaxhighlighter_2.1/scripts/shBrushJScript.js"></script>
	<script type="text/javascript" src="../syntaxhighlighter_2.1/scripts/shBrushPython.js"></script>
	<script type="text/javascript" src="../syntaxhighlighter_2.1/scripts/shBrushXml.js"></script>
	<link type="text/css" rel="stylesheet" href="../styles/game_tut.css"/>
	<link type="text/css" rel="stylesheet" href="../syntaxhighlighter_2.1/styles/shCore.css"/>
	<link type="text/css" rel="stylesheet" href="../syntaxhighlighter_2.1/styles/shThemeRDark.css"/>
	<script type="text/javascript">
		SyntaxHighlighter.config.clipboardSwf = '../syntaxhighlighter_2.1/scripts/clipboard.swf';
		SyntaxHighlighter.all();
	</script>
</head>

<body >
<h1>SyntaxHihglighter Test</h1>
<p>This is a test file to insure that everything is working well.</p>

<pre class="brush: python;">
def hello():
    print "Hello world!"
</pre>

<script type="syntaxhighlighter" class="brush: js"><![CDATA[
    /**
     * SyntaxHighlighter
     */
    function foo()
    {
        if (counter <= 10)
            return;
        // it works!
    }
]]></script>


</html>